@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Poppins');


*{
	margin:0;
	padding:0;
	font-family:'Poppins', sans-serif; 
}
/*TOP HEADER*/
.top-header{
	height:40px;
	font-size:13px;
	background-color:#14213d;
}
.container-inner-content{
	margin:0 auto;
	padding:0;
	width:85%;
	
	
}
.inner-content{
	margin:0 auto;
	float:left;
}
.top-header .container-inner-content .inner-content ul{
	margin:0 auto;
	margin-top:9px;
	margin-left:11px;
	margin-right:10px;
	padding:0;
	list-style:none;

} 
.top-header .container-inner-content .inner-content ul li{
	display:inline-block;
	margin:5px;
}
.top-header .container-inner-content .inner-content ul li a{
	text-decoration:none;
	color:white;
}
.top-header .container-inner-content .inner-content ul li a:hover{
	color:#9bc53d;
	transition:all ease-in 0.1s;
}

/* HEADER */
header{
	margin: 0 auto;
	padding:0;
	height:125px;
	background-color:#fff;
	position:relative;
	z-index:50; 
}
.header-container{
	margin:0 auto;
	padding:0;
	width:84.8%;
	height:100%;
	
}
.logo{
	margin: 20px 0;
	padding:0;
	float:left;
	width:230px;
}
.logo img{
	max-width:100%; 
}
.header-container .header-web-info{
	margin:20px auto;
	margin-right:18px;
	padding:0;
	float:right;
	width:60%;
	height:60px;
	display:flex;
	
}
.header-container .header-web-info .location{
	margin:0;
	padding:0;
	width:220px;
	height:100%;
	float:left;

}
.header-container .header-web-info .location .logo1-png{
	margin:10px;
	padding:0;
	float:left;
	width:40px; 
	height:40px;

}
.header-container .header-web-info .location .logo1-png img{
	margin:0;
	padding:0;
	max-width:100%;
}
.header-container .header-web-info .location p{
	margin:0;
	padding:0;
	float:left;
}
.header-container .header-web-info .mail{
	margin:0 10px;
	padding:0;
	width:220px;
	height:100%;
}
.header-container .header-web-info .mail .logo2-png{
	margin:10px;
	padding:0;
	float:left;
	width:40px; 
	height:40px;
}
.header-container .header-web-info .mail .logo2-png img{
	margin:0;
	padding:0;
	max-width:100%;
}
.header-container .header-web-info .mail p{
	margin:0;
	padding:0;
	float:left;
}
.header-container .header-web-info .call{
	margin:0;
	padding:0;
	width:220px;
	height:100%;
	float:right;
}
.header-container .header-web-info .call .logo3-png{
	margin:10px;
	padding:0;
	float:left;
	width:40px; 
	height:40px;
}
.header-container .header-web-info .call .logo3-png img{
	margin:0;
	padding:0;
	max-width:100%;
}
.header-container .header-web-info .call p{
	margin:0;
	padding:0;
	float:left;
}
/* NAVIGATION BAR */
nav{
	margin:0 auto;
	padding:0;
	width:1140px;
	height:50px;
	background-color:#9bc53d;
	border-radius:7px;
	position:relative;
	bottom:25px;
	z-index:99;
}
/*SLIDE SECTION*/
.main-slide{
	margin:0 auto;
	padding:0;
	width:100%;
	height:700px;
	position:relative;
	z-index:1;
	bottom:50px;
	background-image: url('slider3.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;  
}
.main-slide .slide-pic{
	margin:0 auto;
	padding:0;
	color:white;
	font-size:30px;
	text-align:center;
	height:700px;
	width:100%;
	background-color:rgba(0, 0, 0, 0.5);

}
.h1-slider3, .p-slider3{
	position:relative;
	top:350px;
}	


